<div class="index-header">
    <button type="submint" name="button_createNewNote">Create new Note</button>
    <button type="submint" name="button_styleChange">Change style</button>
</div>

<div class="menue">
    <button type="submint" name="button_byFinishDate">by finish Date</button>
    <button type="submint" name="button_byCreatedDate">by created Date</button>
    <button type="submint" name="button_byImportance">by importance</button>
    <button type="submint" name="button_showFinished">show finished</button>
</div>


    <div class="entry">
        <div class="entry-header">
            <div class="title-container">
                <p>Time</p>
                <h3>Titel</h3>
                <p>****</p>
            </div>
        </div>
        <input type="checkbox" class="checkbox"><label for="checkbox">Finished</label>
        <label for="description">Hier kommen Daten rein</label>
        <textarea class="description">Hier Kommen Daten rein</textarea><button type="submint" name="button_edit">Edit</button>
    </div>
