<button type="submint" name="button_createNewNote">Create new Note</button>
<button type="submint" name="button_byFinishDate">Create new Note</button>
<button type="submint" name="button_byCreatedDate">Create new Note</button>
<button type="submint" name="button_createNewNote">Create new Note</button>
<button type="submint" name="button_createNewNote">Create new Note</button>
<button type="submint" name="button_createNewNote">Create new Note</button>