<header>
    <nav class="pre-menu">
        <div>
         <button type="submint" name="button_createNewNote">Create new Note</button>
        </div>
        <div>
            <button type="submint" name="button_styleChange">Change style</button>
        </div>
    </nav>

    <nav class="main-menu">
        <div class="inner-main-menu">
        <button type="submit" name="button_byFinishDate">by finish Date</button>
        <button type="submit" name="button_byCreatedDate">by created Date</button>
        <button type="submit" name="button_byImportance">by importance</button>
        </div>
        <div class="inner-main-menu">
        <button type="submit" name="button_showFinished">show finished</button>
        </div>
    </nav>
</header>

<section class="entry">
    <div class="entry-header">
        <div class="time-container">
            <p>Time</p>
        </div>
        <div class="title-container">
            <p>Titel</p>
        </div>
        <div class="rating-container">
            <p>****</p>
        </div>
    </div>
    <input type="checkbox" class="checkbox"><label for="checkbox">Finished</label>
    <label for="description">Hier kommen Daten rein</label>
    <textarea class="description">Hier Kommen Daten rein</textarea>
    <button type="submint" name="button_edit">Edit</button>
</section>