<header>
    <nav class="pre-menu">
        <div>
            <form action='/adNote' method='get'>
             <button type="submit">Create new Note</button>
            </form>
        </div>
        <div>
            <button type="submit" name="button_styleChange">Change style</button>
        </div>
    </nav>

    <nav class="main-menu">
        <div class="inner-main-menu">
        <button type="submit" name="button_byFinishDate">by finish Date</button>
        <button type="submit" name="button_byCreatedDate">by created Date</button>
        <button type="submit" name="button_byImportance">by importance</button>
        </div>
        <div class="inner-main-menu">
        <button type="submit" name="button_showFinished">show finished</button>
        </div>
    </nav>
</header>

<section class="entry">


    <div class="entry-content">

        <div class="entry-header">
            <div class="time-title-container">
                <div class="time-container"><p>Time</p></div>
                <div class="title-container"><p>Titel</p></div>
            </div>
            <div class="rating-container">
                <p>****</p>
            </div>

        </div>

        <div class="entry-content-container">
            <div class="entry-content-check-container">
                <input type="checkbox" class="checkbox"><label for="checkbox">Finished</label>
            </div>
            <div class="entry-content-description-container">
            <textarea class="description">Hier Kommen Daten rein</textarea>
            </div>
        </div>
    </div>


    <div class="entry-button-container">
        <button type="submint" name="button_edit">Edit</button>
    </div>
</section>
