<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/{{#if options.changestyle}}drakula{{else}}style{{/if}}.css' />
  </head>
  <body>
    {{{body}}}
  </body>
</html>


