<header>
    <h1>Neue Todo</h1>
</header>
<form>
    <ul class="flex-outer">
        <li><label for="input-title">Titel</label><input type="text" id="input-title"></li>
        <li><label for="input-description">Beschreibung</label><textarea id="input-description"></textarea></li>
        <li><label for="input-importance">Wichtigkeit</label><input type="text" id="input-importance"></li>
        <li><label for="input-doneUntil">Fertig bis</label><input type="text" id="input-doneUntil"></li>
        <li><label></label><div style="width: 80%">
        <input type="checkbox" style="margin-left: 0px"><label>Erledigt!</label>
        </div>

        </li>




        <ul class="button-flex">
            <button type="submit" name="post">Anlegen</button>
            <button type="reset" name="cancel">Abbrechen</button>
        </ul>
    </ul>

</form>