body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

p{
  margin:0px;
}

header{
  padding: 5px;
  border-bottom: 1px solid;
  border-color: grey;
  margin-bottom: 20px;
}

button{
  width: 180px;
  background-color: white;
  padding: 3px 30px;
  border: 1px solid grey;
  border-radius: 5px;
}
button:hover{
  background-color: lightgrey;
}
button:focus{
  background-color: lightgrey;
  border:1px solid lightskyblue;
  box-shadow: 0 0 5px grey inset;
}

.flex-outer > li > label{
  text-align: right;
  flex: 1 0 160px;
  width: 160px;
  max-width: 160px;
  font-weight: bold;
  margin-right: 10px;
}




@media (max-width: 557px){
  .flex-outer > li > label{
    text-align: left;
  }
}

input, textarea{
  padding: 5px;
  border: 1px solid grey;
  border-radius: 5px;
}
input:focus, textarea:focus{
  box-shadow: 0 0 3px lightskyblue;
}
input[type="checkbox"]{
  margin-left: 0px;
}

.time-title-container{
  display:inline-flex;
  flex-wrap: wrap;
}

.flex-outer{
  list-style-type: none;
  margin: 0 auto;
  padding: 0px;
}

.flex-outer > li{
  display:flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
  align-items: center;
}

.flex-outer input[type='text'], #input-description {
  flex: 1 0 360px;
}

.pre-menu, .main-menu{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.entry-header{
  display:flex;
  justify-content: space-between;
}

.time-title-container{
  float:left;
  display: flex;
  width: 450px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.time-container p{
  width: 160px;
  max-width: 160px;
}
.title-container{
  width: 60%;
}
.rating-container{
  float:right;
  text-align: right;
}

.entry-content-container{
  display: flex;
  flex-wrap: wrap;
}

.entry{
  display: flex;
  flex-wrap: wrap;
}

@media (max-width: 768px){
  .inner-main-menu{
    width: 100%;
  }
  .main-menu button{
    width: 100%;
  }
  .entry-header {
    flex-direction: column-reverse;
  }
}

.rating-value[value="1"]:before{
  content: "★"
}
.rating-value[value="2"]:before{
  content: "★★"
}
.rating-value[value="3"]:before{
  content: "★★★"
}
.rating-value[value="4"]:before{
  content: "★★★★"
}
.rating-value[value="5"]:before{
  content: "★★★★★"
}







